/*******About Us CSS ****/

http://de.siteof.de/extended-menu.html


 http://extensions.joomla.org/extensions/163/details

 http://docs.joomla.org/Creating_a_CSS_Drop_down_Menu

/*******About Us CSS ****/
